@import '../../../styles/global.scss'; 

.container{
   

    background-color: $gray-100;
    padding: 2.5rem;   
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem; 

}


.radioInputForm{
    display: flex;
    width: 100%;
    gap: 0.75rem;
    margin-top : 2rem;
    font-size: $text-12;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 160%;
    color: $gray-600;



        div {
            height: 100%;
            width: 100%;
        }


    input[type="radio"]{
        visibility: hidden;
        appearance: none;
    }

    .option:hover{
        background-color: $gray-400;
    }


}

input[type="radio"]:checked  + .method div{
    border: 1px solid $purple-400;
    border-radius: 6px;
    background-color: $purple-100;
    transition: all ease 0.1s;
   
}

.option{
    display: flex;
    flex: 1;
    border-radius: 6px;
    background-color:  $gray-300;
    height: 3.18rem;
    
}

.method { 
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;

    svg {
        margin: 0 0.75rem 0 1rem;
    }

 
}


.formTitle{
    
    display: flex;
    background-color: $gray-100;
    align-items: center;
    
}


.errorMessage{
   
    font-size: $text-10;
    color: red;
    font-weight: 700;
    letter-spacing: 0.3px;
}