@import '../../styles/global.scss';


.container{
    background-color:$gray-300;
    border-radius: 6px;
    height: 100%;
    

    .removeBtn {
        display: flex;
        font-weight: 400;
        align-items: center;
        padding: 0 0.5rem;
        border-radius: 6px;
        line-height: 160%;
        color: $gray-600;
        font-size: $text-12;
        border: none;
        height: 100%;
        transition: all ease-in-out 0.1s;

        svg{ 
            margin-right: 0.25rem;
        }
    }



}