@import '../../styles/global.scss'; 


.cardContainer{
    width: 16rem;
    height: 19.375rem;
    background-color: $gray-100;
    border-radius: 6px 36px 6px 36px;
    
}

.cardContent{
    display: flex;
    flex-direction: column;
}

.cardTop{
    position: relative;
    width: 10rem;
    height: 6.5rem;
    margin: 0 auto;
    
}

.topImg{
    width: 100%;
    height: 100%;
    top: -15px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.tags{
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    
    span {
        font-size: $text-10;
        font-weight: 400;
        text-transform: uppercase;
        padding: 4px;
        border-radius: 6px;
        color: $yellow-800 ;
        background-color: $yellow-100
    }
}

.titleArea{
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

.titleText {
    font-family: 'Baloo 2';
    font-weight: 700;
    color: $gray-700;
}

.descArea{
    display: flex;
    font-weight: lighter;
    margin: auto;
    width: 70%;
    margin-top: 0.15rem;
}

.descText{
    text-align: center;
    font-size: $text-14;
    color: $gray-500;
    line-height: 130%;
    font-weight: 400;
}

.cardBottom{
    margin: 1rem auto;
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        border-radius: 5px;
        background-color: $gray-50;
        width:4.5rem ;
        height: 2.375rem;
        outline: none;
        border: none;
    }

}

.cardBottom .coin{
    font-family: 'Roboto';
    font-weight: lighter;
    color: $gray-500;
    font-size: $text-14;    
}

.price{
    font-family: 'Baloo 2', cursive;
    color: $gray-600;
    font-weight:bolder;
    line-height: 130%;
    text-align: right;
    font-size: $text-24;
}











