@import '../../../styles/global.scss'; 

.inputContainer{
    height: 2.375rem;
    width: 4.5rem;
    border-radius: 0.25rem;
    background-color: $gray-300;
    display: flex;

    input{
        background-color: $gray-300;
        color: $gray-800;
        font-size: $text-16;
        height: 100%;
        width: 100%;
        outline: none;
        border: 0;
        text-align: center;
    }

}

.iconArea {
    border-radius: 0.25rem;
    border-style: none;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-300;
}

button {
    cursor: pointer;
}